@font-face {
    font-family: logo;
    src: url(Audiowide-Regular.ttf)
}

@font-face {
    font-family: all;
    src: url(Cinzel-VariableFont_wght.ttf)
}

@font-face {
    font-family: par;
    src: url(Philosopher-Regular.ttf)
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: all
}

:root {
    --bg: #f5f5dc;
    --black: #000;
    --wh: #fff;
    --sf: 1rem;
    --nf: 1.5rem;
    --hf: 4rem;
}

body {
    overflow: hidden !important;
    background-color: var(--bg);
    height: 100vh;
    width: 100vw;
}

.fcenter {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.rel {
    position: relative;
}

.flx {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.fdc {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.fw {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.null {
    height: 5rem;
    width: 100%;
}

.jcc {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.jcsa {
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.jcse {
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}

.jcsb {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.btn {
    text-align: center;
    border: 1px solid black;
    padding: var(--nf);
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.btn:hover {
    cursor: pointer;
    background-color: var(--black);
    color: var(--wh);
}

/* nav */
nav {
    width: 90vw !important;
    margin: auto;
    /* border: 1px solid red; */
    height: 5rem;
    position: absolute;
    background-color: var(--bg);
    z-index: 1;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

nav a {
    text-decoration: none;
    color: var(--black);
}

.logo {
    font-size: 2.5rem;
    overflow: hidden;
    font-family: logo;
    position: relative;
    cursor: pointer;
}

.logo::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 0%;
    border: 1px solid goldenrod;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    -webkit-animation: logo 2s infinite alternate ease-in-out both;
    animation: logo 2s infinite alternate ease-in-out both;
}

.icn i {
    margin: 0.5%;
    font-size: var(--nf);
}

.icn a {
    text-decoration: none;
    color: var(--black);
}

/*---end nav---*/

/* mbody */
.btngrp {
    position: absolute;
    bottom: 3rem;
    right: 2rem;
    width: 400px;
}

.dot {
    background-color: #0000001c;
    height: 10px;
    width: 10px;
    margin: 5px;
    border-radius: 50%;
    cursor: pointer;
}

.dot:hover {
    height: 15px;
    width: 15px;
    background: #494949;
}

.ddot {
    height: 15px;
    width: 15px;
    background: #494949;
}


.bbtn {
    cursor: pointer;
}

.bbtn i {
    padding: 1rem;
    font-size: 2rem;
    border-radius: 50%;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.bbtn i:hover {
    background: black !important;
    color: white !important;
}

.next {
    right: 3rem;
}

.back {
    right: 15rem;
}

.mbody {
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    height: calc(100vh - 5rem);
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    overflow-y: auto !important;
}

.chunk {
    position: relative;
    height: calc(100vh - 5rem);
    padding: 1rem 10vw;
    border: 1px solid black;
    width: 100vw !important;
    overflow-y: auto;
}

.chunk>p {
    text-decoration: underline;
    width: 100%;
}

/* home */
.ocp {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    font-size: var(--nf);
}

.ocp::after {

    -webkit-animation: typing 10s linear infinite;
    animation: typing 10s linear infinite;
    content: "My name is";
    font-size: var(--nf);

}

.chunk>p {
    font-size: var(--nf);
}

#home {
    width: 80%;
}

#home img {
    min-width: 200px;
    max-width: 30rem;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;

}

#home img:hover {
    -webkit-filter: grayscale(0) drop-shadow(0 0 0.75rem var(--black));
    filter: grayscale(0) drop-shadow(0 0 0.75rem var(--black));
}

.intro {
    width: 70%;
    /* height: 60%; */
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.intro p {
    font-size: var(--hf);
    font-family: par;
}

.intro i {
    font-family: par;
    font-size: var(--nf);
}

/* end- home */

/* about */
.abt {
    font-family: par;
}

/* end about */

/* skills */
.skill {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    margin-top: var(--nf);

}

.skill>div {
    /* flex: 1; */
    padding: 1rem;
}

.skill div {
    padding: 1rem auto;
    width: 25rem;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}

.skill div h2 {
    margin-bottom: 1rem;
}

.skill div h4 {
    margin-bottom: .5rem;
}

.skill div ul {
    width: 100%;
    padding-left: 1rem;
    margin-bottom: 1.5rem;
}

.skill div ul li {
    font-family: par;
    margin: .5rem auto;
    font-size: 1.2rem;
    width: 100%;
    list-style-type: circle;
    ;
}

.skill div:hover {
    background-color: var(--black);
    color: var(--wh);
}

/* end skills */

/* project */
.proj {
    margin-top: 5%;
    overflow: scroll;
    height: 80%;
    -ms-grid-columns: auto auto auto auto;
    grid-template-columns: auto auto auto auto;
}

.card {
    border: 1px solid black;
    width: 300px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: var(--nf);
    margin: var(--nf);
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.grd {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 10px;
}

.card h2 {}

.card i {
    font-size: var(--sf);
    color: #727272;

}

.card p {
    font-size: var(--sf);
    text-indent: var(--nf);
}

.card ul li {
    margin: .5rem auto;
    font-family: par;
    list-style: none;
}

.card:hover {
    scale: 110%;
    background-color: var(--black);
    color: var(--wh);
}

.card:hover a {
    color: white;
}

/* end project */

/* certificates */
.ccard {
    position: relative;
    max-width: 300px;
    min-width: 200px;
    margin: 1rem;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}

.ccard img {

    width: 100%;
    -webkit-filter: blur(1px) grayscale(100%);
    filter: blur(1px) grayscale(100%);
    aspect-ratio: 4/ 3;
    cursor: pointer;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.ccard img:hover {
    filter: blur(0px);
    -webkit-filter: grayscale(0%);

}

.showimg {
    display: none;
    height: 90%;
    width: 100%;
    /* text-align: center; */
    background: var(--bg);
    position: absolute;
    /* display: flex; */
}

.showimg img {
    height: 100%;

}

.showimg i {
    font-size: var(--nf);
    -ms-flex-item-align: start;
    align-self: flex-start;
    margin-left: 1rem;
}

/* end certificate */

/* contact */
.contct {
    /* height: 70%; */
    /* width: 100%; */
    text-align: center;
    margin: 5rem auto;
}

.contct .l {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    /* width:300px; */
    height: 100%;
}

.fox {
    width: 500px;
    height: 500px;
    position: relative;
    overflow: hidden;
}



.contct a {
    /* margin: 1rem; */
    text-decoration: none;
    color: var(--black);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    padding: 1rem;
    font-size: var(--nf);
}

.contct a span {
    font-family: all !important;

}

.contct a:hover {
    background-color: var(--black);
    color: var(--wh);
}

/* end contact */
/* --end mbody--- */

@media screen and (max-width: 800px) {
    :root {
        --sf: .5rem;
        --nf: 1rem;
        --hf: 2rem;
    }

    .ocp::after {
        font-size: var(--sf);
    }

    nav a span {
        display: none;
    }

    .par {
        font-size: var(--nf) !important;
        width: 100% !important;
        margin-bottom: var(--nf);
    }

    .intro img {
        margin-top: var(--nf);
    }

    .card {
        width: 90%;
    }
    .home{
        flex-wrap: wrap;
    }

    .contct {
        height: fit-content;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin: unset auto;
    }

    .btngrp {
        left: 50%;
        transform: translateX(-50%);
        width: 90vw;
        bottom: 10px;
        padding: var(--sf);
        background: var(--bg);
    }

    .fox {
        /* margin-top:-10rem ; */
        width: 80% !important;
        /* height:50% !important; */
    }
    .showimg{
        width: 90vw;
        height: auto;
        justify-content: space-around;
        flex-direction: column-reverse;
    }
    .showimg img{
        width: 90vw;
        height: auto;
    }
    .showimg .cls{
        align-self: flex-end;
    }
}